body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  font-size: 1.3rem;
}
.searchBar{
  width: 50%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.searchBar input{
  margin: 30px 0;
  padding: 10px 15px;
  outline: none;
  font-size: 1.2rem;
  border-radius: 5px;
}